<nav class="navbar navbar-expand-lg navbar-bold bg-custom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="btn btn-outline-primary w-120 mb-4"> 
                    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/" class="nav-link text-white thick-text">
                        {{ translationService.translate('Home') }}
                    </a>
                </li>
                
               
                <li class="btn btn-outline-primary w-120 mb-4">
                    <a routerLinkActive="active" routerLink="/about" class="nav-link text-white thick-text">
                        {{ translationService.translate('About US') }}
                    </a>
                </li>
                <!-- Products and Profile Links -->
                <li *ngIf="isLoggedIn" class="btn btn-outline-primary w-120 mb-4">
                    <a routerLinkActive="active" routerLink="/products" class="nav-link text-white thick-text">
                        {{ translationService.translate('Products') }}
                    </a>
                </li>
                <li *ngIf="isLoggedIn" class="btn btn-outline-primary w-120 mb-4">
                    <a routerLinkActive="active" routerLink="/profile" class="nav-link text-white thick-text">
                        {{ translationService.translate('Profile') }}
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" class="btn btn-outline-primary w-120 mb-4">
                    <a routerLinkActive="active" routerLink="/register" class="nav-link text-white thick-text">
                        {{ translationService.translate('Register') }}
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" class="btn btn-outline-primary w-120 mb-4">
                    <a routerLinkActive="active" routerLink="/login" class="nav-link text-white thick-text">
                        {{ translationService.translate('Login') }}
                    </a>
                </li>
                <li *ngIf="isLoggedIn" class="btn btn-outline-primary w-120 mb-4">
                    <button
                    (click)="logout()"
                    routerLinkActive="active" 
                    style="border: none;background: border-box;"
                    class="nav-link text-white thick-text">
                    {{ translationService.translate('logout') }}
                    </button>
                </li>


                <li class="btn btn-outline-primary w-120 mb-4">
                        <!-- <button  style="border: none;background: border-box;"
                        class="nav-link text-white thick-text"
                         (click)="switchLanguage('en')">
                         <img src="/uk.png" style="width: 30px;height: 20px;" >
                        </button>
                        <button  style="border: none;background: border-box;"
                        class="nav-link text-white thick-text"
                         (click)="switchLanguage('es')">
                         
                        </button> -->
                        <select
                        class="nav-link thick-text bg-custom text-white"
                        style="border: none;"
                        (change)="switchLanguage($event)">
                            <option value="en">EN</option>
                            <option value="es">SP</option>
                        </select>
                        
                    
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-white text-center py-2">
    <div class="container">
      <div class="mt-1">
        <p class="mb-0">Follow us on:</p>
        <a href="https://facebook.com" class="text-white mx-2" target="_blank">Facebook</a>
        <a href="https://twitter.com" class="text-white mx-2" target="_blank">Twitter</a>
        <a href="https://instagram.com" class="text-white mx-2" target="_blank">Instagram</a>
      </div>
      <p class="mb-0">© 2024 Pizza Paradise. Freshly baked pizzas delivered to your door!</p>
    </div>
</footer>
